body {
    background-color: #CDC6AE;
}

header {
    background-color: #38686A;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
}
  
.nav {
    list-style: none;
    display: flex;
}

.nav li:hover {
    color: #2589BD;
}

.nav li {
    text-decoration:none;
    font-size:19px;
    font-weight: bold;
    padding-right:15px;
    color:white;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 15px;
}

#search-btn {
    height: 30px;
    border-radius: 20px;
    margin-left: 10px;
    border: none;
    background-color: #2589BD;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#search-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 20px;
    margin: 13px;
    background-color: #A3B4A2;
    width: 330px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card img {
    border-radius: 20px;
    width: 100%;
}

.container {
    padding: 2px 16px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 0.5rem;  
}

footer div {
    background-color: #38686A;  
}

/*Responsive Design*/
@media screen and (max-width: 980px) {
    .card-div {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 46%;
    }
}

@media screen and (max-width: 768px) {
    .movies div {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .movies div {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}