header {
    background-color: #38686A;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
}
  
.nav {
    list-style: none;
    display: flex;
}

.nav li:hover {
    color: #2589BD;
}

.nav li {
    text-decoration:none;
    font-size:19px;
    font-weight: bold;
    padding-right:15px;
    color:white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 20px;
    margin: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card img {
    border-radius: 20px;
    width: 100%;
}

.container {
    padding: 2px 16px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 0.5rem;  
}

footer div {
    background-color: #38686A;  
}